doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width')
    title MEAN
    link(href='css/main.min.css', rel='stylesheet')
    script(src='lib/angularjs/angular.min.js')
    script(src='js/main.js')
  body(ng-app='chromatization')
    | hola
    ion-nav-view
